<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{active: activetab == '/'}"><a ng-href="#">Home</a></li>
    <li ng-class="{active: activetab == '/news'}"><a ng-href="#/news">News</a></li>
    <li ng-class="{active: activetab == '/talks'}"><a ng-href="#/talks">Talks</a></li>
    <li ng-class="{active: activetab == '/hellobar'}"><a ng-href="#/hellobar">Hellobar</a></li>
    <li ng-class="{active: activetab == '/login'}" ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-class="{active: activetab == '/login'}" ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>

  </ul>
  <h3 class="text-muted">vineyardadmin</h3>
</div>

